<h1>
    List Controls Component
</h1>
<div>
    <button md-raised-button (click)="addlist.emit(true)">Create List</button>
    <button md-raised-button (click)="refreshallassigments.emit(true)">Reset Assignments</button>
    <button md-raised-button (click)="t()">Save State</button>
    <button md-raised-button (click)="t()">Load New Assignments</button>
    <button md-raised-button (click)="t()">Review Log</button>
    <button md-raised-button (click)="t()">Hide Linens</button>
    <button md-raised-button (click)="t()">Sort Toggle</button>
</div>
