
/*.image-placeholder-index {
  width: 300px;
  height: auto;
  bottom: 100px;
  position: absolute;
}

.image-placeholder {
  width: 300px;
  height: auto;
}

.large-image-placeholder {
  width: 450px;
}

.product-image {
}

.title {
  /*display: inline-block;*/
  text-align: center;
  color: black;
}

.add-new-product-link {
  color: white;
}

.add-new-product-button {
  margin-top: 25px;
}

.create-new-line {
  display: inline-block;
}


.submit-button {
  margin-right: 10px;
}

.delete-button {
  margin-right: 10px;
  margin-left: 15px;

}

.submit-button, .cancel-button, .edit-button, .delete-button {
  float: left;
  display: inline-block;
}

.view-all-product-button{
  margin-left: 25px;
}

.product-align-bottom-price {
  margin-right: 50px;
  margin-top: 5px;
  text-align: center;
}


.product-align-bottom-title {
  margin-right: 50px;
  margin-top: 330px;
  text-align: center;
}

.fixed-height {
  height: 400px;
}

.product-details-list {
  margin-top: 150px;
}*/